#SEMANA 03
#Ing. Alberto Ismael Mondragon Parodi

Temas:
  1. Números
  2. Variables
  3. Manejo de Cadenas
  4. Ingreso de datos por Teclado
  5. Operadores

3. Manejo de Cadenas

In [2]:
cadena="Universidad Nacional Tecnologica de Lima Sur"

In [3]:
#Para mostrar una subcadena {desde,hasta una antes}
#En java era substring()
cadena[3:8]

'versi'

In [4]:
#Paara mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [6]:
#Para mostrar una cadena en minpuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [7]:
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [11]:
#Generar una lista utilizando un criterio de separación a partir de una
#En este caaso vamos a generar una lista e toda la cadena
#utilizando como criterio de separacion letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [15]:
#Forma clásica de concatenar con +
nombre = "Alberto Mondragon"
print("Buenos dias" + nombre)

Buenos dias Alberto Mondragon

In [17]:
#Utilizando el .format()
nombre = "Ismael Parodi"
edad=20
print("Hola {} Tengo {} años".format(nombre,edad))

Hola Ismael Parodi Tengo 20 años

In [22]:
resultado=10/3
print("10/3 es {}".format(resultado))
print("10/3 es= {r:1.3f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es= 3.333

In [24]:
#Dar la funcion f
nombre="Alberto Mondragon"
edad =20
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Alberto Mondragon, ya se que tienes 20 años

In [27]:
#Dar formatos  npumerocon muchos decimales con f
resultado = 10/3
print(f"10/3 es {resultado}")
print(f"10/3 es {resultado:1.4f}")

10/3 es 3.3333333333333335
10/3 es 3.3333